.header {
  display: flex;
  align-items:center;
  gap:15px;
}

.logo {
  height: 50px;
}

.content {
  display: flex;
  gap: 5px;
}

.text {
  width: 20%;
}

.content iframe {
  width: 80%;
  border: 0;
}
